<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/default_style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/axicon/axicon.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/default/generate_notice_type.js"></script>
    <script src="/js/notice/notice_modify.js"></script>
    <script th:inline="javascript">
        let noticeType_name = /*[[${noticeType_name}]]*/ [];
        let noticeType_label = /*[[${noticeType_label}]]*/ [];
    </script>
</head>