@import "../default_style";

.footer{
  display: block;
  height:100px;
}
.footer-root {
  margin: auto auto;
  display: flex;
  justify-content: center;

  font-weight: lighter;
}
.footer-line{
  width:90%;
  height:1px;
  margin:0 auto;

  border-style: solid;
  border-color:grey;
  border-width: 1px 0 0 0;
}
.footer-text-wrap{
  display: inline-flex;
  align-items: flex-start;
  margin: auto auto;
  margin-top: 30px;
}

.footer-left{
}
.footer-right{
  margin-left: 60px;
}

.footer-top{
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: $font_size_small;
}
.footer-bottom{
  width: 100%;
  margin-top: 20px;

  font-size: $font_size_small;

  div{
    display: flex;
  }
}

.footer-bottom-one{
  height: 20px;

  span{
    margin-right: 30px;
  }
}

.footer-top-items{
}

.footer-left-divide-line{
  display: inline-block;
  width:1px;
  height:30%;
  margin: auto 30px;

  border-style: solid;
  border-color: grey;
  border-width: 0 1px 0 0;
}
#footer-logo{
  width:100px;
}

@media (max-width: 600px) {
  .footer-text-wrap{
    flex-direction: column;
  }
  .footer-right{
    margin:0;
  }
  .footer-bottom {
    div {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}